<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Conditionals</title>
</head>

<body>

    <div id="app">
        <h1 v-if="x === 5">Vue is Cool!</h1>
        <h1 v-else-if="x > 10">Vue is very cool!</h1>
        <h1 v-else>Oh no!😥</h1>


        <template v-if="awesome">
            <h1>Vue is Cool 😎</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, eius.</p>
            <p>Lorem, ipsum.</p>
        </template>
    </div>



    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- Main js file -->
    <script src="./app.js"></script>
</body>

</html>